/****************************************************************/
/* styling voor squash reservering */
/****************************************************************/

:root {
    --background-color: #1E1E1C;
    --header-background: #1E1E1C;

    --primary-color: #C6A965;
    --highlight-color: #FABF3D;
    --text-color: #fff;

    --custom-space: 3em;

    --th--background: darkgray;

}


body>main>a {
    background-color: var(--primary-color);
    color: white;
}

body>main>section>h3 {
    margin-top: 5%;
    font-weight: 300;
}

h1 {
    font-size: 4em;
    margin: 1em;
    color: var(--primary-color)
}

header {
    border-bottom: solid 2px var(--primary-color);
}


main>section>button {
    background-color: var(--primary-color);
    height: 2em;
    width: max-content;
    padding: 0 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: #fff 10px;
}

main>section>button:focus {
    color: black;
}

main>section>button:disabled {
    display: none;
}

/* input dropdown */
select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 2em;
    align-self: center;
    margin-right: var(--custom-space);
    color: var(--text-color-black);

    grid-area: 1/7/1/8;
    justify-self: end;
}

select option {
    color: var(--text-color-black);
}

label {

    align-self: center;

    grid-area: 1/6/1/7;
}

table {
    text-align: center;
    overflow-x: auto;
    width: 100%;

}


table,
th,
td {
    border: 1px solid white;
    padding: 1% auto;
}

th {
    background-color: var(--th--background);
    color: var(--background-color);

}

td[data-type="bookable"] {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--background-color);
    border: solid 1px var(--highlight-color);

}

td[data-type="bookable"]:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
    color: var(--text-color);
    border: solid 1px var(--primary-color);


}

[data-theme="light"]td[data-type="bookable"] {
    color: var(--background-color);
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes bell-shake-animation {

        0%,
        80% {
            rotate: 0deg;
        }

        85% {
            rotate: -15deg;
        }

        90% {
            rotate: 15deg;
        }

        95% {
            rotate: -15deg;
        }

        100% {
            rotate: 0deg;
        }
    }
}

table td img {
    width: 25px;
    margin-left: 1em;

    animation-name: bell-shake-animation;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}

[data-theme="light"] table {
    border: solid 2px var(--primary-color);
}

/****************************************************************/
/* styling voor phone */
/****************************************************************/
@media (min-width:100px) {

    h1 {
        font-size: 1.5em;
    }

    body>main>a {
        padding: 1em 2em;
        margin: 2em;
        font-size: 1em;
    }

    main>a:nth-of-type(1) {
        padding: 3%;
        font-size: 1em;
    }

    body>main>section>h3 {
        font-size: 1.5em;
        font-weight: 300;
    }

    select {
        font-size: .9em;
        border: 1px solid #ccc;
        height: 2em;

    }

    label {
        font-size: 1em;
        margin-right: 0.5em;
        justify-self: end;
    }

    table[data-number="2"] tr *:not( :nth-child(2)),
    table[data-number="3"] tr *:not( :nth-child(3)),
    table[data-number="4"] tr *:not( :nth-child(4)),
    table[data-number="5"] tr *:not( :nth-child(5)),
    table[data-number="6"] tr *:not( :nth-child(6)),
    table[data-number="7"] tr *:not( :nth-child(7)),
    table[data-number="8"] tr *:not( :nth-child(8)) {
        display: none;
    }

    th,
    td {
        height: 2em;
        padding: 1em;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-content: center;

        margin-top: var(--custom-space);
    }

    h3 {
        grid-area: 1 / 1 / 2 / 2;
    }

    label {
        grid-area: 2 / 1 / 3 / 2;
    }

    select {
        grid-area: 2 / 2 / 3 / 3;
    }

    main>section>button:nth-of-type(1) {
        grid-area: 3 / 1 / 4 / 2;
    }

    main>section>button:nth-of-type(2) {
        grid-area: 3 / 2 / 4 / 3;
    }

    main>a:nth-of-type(2) {
        position: sticky;
        bottom: 5%;
        margin-right: 6%;
        float: right;
        text-decoration: none;
        padding: 1em;
        background: #000;
        border-radius: 100px;
        border: solid white 1px;
        transition: opacity 0.3s, transform 0.3s;

        z-index: 3;

        cursor: pointer;
    }

    footer {
        width: 92%;
    }


}
@media (min-width:575px) {
    
}



/****************************************************************/
/* styling voor tablet */
/****************************************************************/
@media (min-width:700px) {

    h1 {
        font-size: 3em;
    }

    body>a {
        padding: 1em 2em;
        margin: 2em;
        font-size: 1.5em;
    }

    body>section>h3 {
        font-size: 1.5em;
        font-weight: 300;
    }

    select {
        font-size: .9em;
        height: 2em;
        grid-area: 2 / 3 / 3 / -3;


    }

    label {
        font-size: 1em;
        grid-area: 2 / 2 / 3 / 2;

    }

    h3 {
        grid-area: 2 / 1 / 3 / 2;
        margin-right: 1em;
        margin-left: 1em;

    }

    table[data-number="2"] tr *:not( :nth-child(2)),
    table[data-number="3"] tr *:not( :nth-child(3)),
    table[data-number="4"] tr *:not( :nth-child(4)),
    table[data-number="5"] tr *:not( :nth-child(5)),
    table[data-number="6"] tr *:not( :nth-child(6)),
    table[data-number="7"] tr *:not( :nth-child(7)),
    table[data-number="8"] tr *:not( :nth-child(8)) {
        display: table-cell;
    }

    section {
        display: grid;
        grid-template-columns: max-content 1fr max-content max-content;
        margin-top: var(--custom-space);
    }

    main>section>button {
        display: none;
    }

    footer {
        width: 98%;
    }

}

/****************************************************************/
/* styling voor desktop */
/****************************************************************/
@media (min-width:1325px) {

    main>a:nth-of-type(1) {
        padding: 2%;
    }

    body>section>h3 {
        font-size: 2em;
        font-weight: 300;
    }

    table {
        max-width: 90%;
        align-self: center;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: black;
    }

}